body{
	width:25%;
	margin: 0 auto;
    display:block;
	background-image: url(images/30%.png);
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	font-family: 'Indie Flower', cursive;
	font-size: 3.5em;
	text-align: center;
}

td{
	height: 30px;
	width: 30px;
}

.button{
	height:45px;
	width: 100px;
	position:relative;
	left: 120px;
}

#crossword{
	text-align: center;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	/*border: 1px solid black;*/
}

.inputBox{
    width: 40px;
    height:40px;
    border: 1px solid black;
    text-align: center;
}

#hintsTable{
	width: 480px;
	float: left;
	clear: left;
	position: relative;
	left: 50px;
}